@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

/* Estilos personalizados opcionales para scrollbar o selección */
::selection {
  @apply bg-black text-white;
}

/* Animación flotante para avatar de perfil */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}